@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-lime: #99b81b;
  --color-brand-navy: #003a5d;
  --background-image-gradient-brand: linear-gradient(
    135deg,
    var(--color-brand-lime) 0%,
    var(--color-brand-navy) 100%
  );
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .fluid-header {
    padding-top: clamp(1rem, 1.6vw, 1.25rem);
    padding-bottom: clamp(1rem, 1.6vw, 1.25rem);
    padding-right: clamp(1rem, 2.5vw, 2rem);
    padding-left: clamp(1rem, 2.5vw, 2rem);
  }

  .fluid-section {
    padding-left: clamp(1rem, 2.5vw, 2rem);
    padding-right: clamp(1rem, 2.5vw, 2rem);
    width: 100%;
  }

  .text-fluid-nav {
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
      font-size: clamp(0.813rem, 1vw, 1.125rem);
      letter-spacing: 0.02em;
    }
  }

  .text-fluid-footer {
    font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
    line-height: 1.5;
  }

  .text-title-footer {
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  }
}
